:host {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.desc {
    background-color: #5162C4;
    color: #fff;
    padding: 2em;
    position: relative;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin: .25em 0;
}

.section {
    margin: 0 0 2em 0;
}

.edit {
    position: absolute;
    right: 1em;
    top: 1em;
    min-width: auto;
}

.user {
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.input {
    width: 100%;
}

button {
    margin-left: 1em;
}