h1 {
    font-weight: normal;
}

p {
    margin: 0;
}

.locations {
    margin: 2em 0;
}

.location {
    color: #000;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
}

.location img {
    max-width: 90%;
}