<div *ngIf="(location | async) && !edit">
    <div class="desc" color="primary" [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(' + ((location | async)?.photo || '/assets/no-location.png') + ')'}">
        <button *ngIf="(location | async)?.$key === (af.auth | async)?.uid" md-button (click)="editMode(true)" class="edit">
            <i class="material-icons">edit</i>
        </button>
        <h1>{{ (location | async)?.name }}</h1>
        <h4>{{ (location | async)?.desc }}</h4>
        <button md-raised-button (click)="save()" *ngIf="!(likesLocation | async)?.$value" color="primary">Save</button>
        <button md-button (click)="delete()" *ngIf="(likesLocation | async)?.$value">Saved</button>
    </div>
    <md-card>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non nunc gravida, condimentum lorem id, aliquet libero.
            In eu fermentum erat. Ut nec vestibulum metus. Curabitur in lacus non mi mollis vehicula. Curabitur vel consequat
            ligula. Praesent iaculis maximus enim, sit amet imperdiet libero tincidunt in.</p>
    </md-card>
</div>