:host {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.desc {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), no-repeat center/cover url('../../assets/no-location.png');
    color: #fff;
    padding: 5em 2em;
    position: relative;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin: .25em auto;
    max-width: 30em;
}

.edit {
    position: absolute;
    right: 1em;
    top: 1em;
    min-width: auto;
}

.user {
    border-radius: 50%;
    height: 5em;
    width: 5em;
}

.input {
    width: 100%;
}

button {
    margin-top: 1em;
}