:host .container {
  height: 100vh;
}

:host .app-icon-button {
  margin-right: 16px;
  min-width: 0;
}

/*:host .app-toolbar {
    min-height: 64px;
}

:host md-toolbar-row {
  height: 64px;
}*/

:host .app-toolbar-title {
  cursor: pointer;
  font-weight: normal;
}

/*:host .app-content {
  padding: 16px;
}*/

:host .app-toolbar-filler {
  flex: 1 1 auto;
}

/* sidenav */

:host .sidenav {
  padding: 16px;
  min-width: 200px;
}

:host .sidenav-item {
  cursor: pointer;
  transition: background-color .15s ease-out;
}

:host .sidenav-item:hover {
  background-color: #eee;
}

:host .sidenav-item span {
  margin-left: .5em;
}