<div *ngIf="af.auth | async">
  <img src="{{ (af.auth | async)?.google.photoURL || '../../assets/no-photo.gif' }}" alt="{{ (af.auth | async)?.google.displayName }}" class="user" [mdMenuTriggerFor]="menu" />
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/profile">
      <md-icon class="icon">account_box</md-icon>
      <span class="label">My Profile</span>
    </button>
    <button md-menu-item (click)="logout()">
      <md-icon class="icon">exit_to_app</md-icon>
      <span class="label">Logout</span>
    </button>
  </md-menu>
</div>
<div *ngIf="!(af.auth | async)">
  <button md-button (click)="login()">Login</button>
</div>