h1 {
    font-weight: normal;
}

p {
    margin: 0;
}

.members {
    margin: 2em 0;
}

.member {
    color: #000;
    margin-bottom: 1em;
    text-align: center;
    text-decoration: none;
}

.member img {
    border-radius: 50%;
    height: 5em;
    width: 5em;
}